<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>about page</title>
</head>
<body>
	<section>
		<h3>something related to about here...</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
			placeat consectetur beatae ex eaque nulla aspernatur! Numquam
			cupiditate similique voluptatibus saepe temporibus fugiat porro neque
			odio eum libero soluta aliquid voluptas laboriosam ipsum autem nihil
			iusto unde perferendis voluptatum earum!</p>
	</section>
</body>
</html>